@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import "normalize.css";
@import "highlight.js/styles/tomorrow.css";

@import "./foundation.css";

.home-posts-links {
  text-align: center;

  & ul {
    padding-left: 0;
    list-style: none;
  }
}

.home-post-link a {
  font-size: 4.5rem;
  text-decoration: none;
  display: inline-block;
  border: 3px solid black;
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: .4rem;
  background-color: rgba(211, 211, 211, 0.26);
}

.home-post-link a:visited {
  text-decoration: none;
  color: black;
}

.home-post-link a:hover {
  background-color: rgba(211, 211, 211, 0.50);
}

.post {
  font-size: 2.1rem;
  margin-top: 10rem;
  width: 70%;
  margin: 4rem auto 8rem;
}

header {
  min-height: 200px;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

  & h1 {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

header:after {
  width: 100%;
  height: .5rem;
  bottom: 0;
  position: absolute;
  left: 0;
  content: '';
  background: linear-gradient(to right, rgba(91,214,230,1) 0%, rgba(22,192,135,1) 28%, rgba(208,140,62,1) 83%, rgba(249,190,184,1) 100%);
}

.wrapper {
  max-width: 100%;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 60rem) {
  header {
    height: 40vh;

    h1 {
      font-size: 8rem;
    }
  }
}
