@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import "normalize.css";
@import "highlight.js/styles/tomorrow-night.css";

@import "./foundation.css";

.home-posts-links {

  & li {
    font-size: 1.5rem;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
  }

  & ul {
    padding-left: 0;
    list-style: none;
  }
}

.home-post-link a {
  color: black;
  text-decoration: none;
  display: inline-block;
  border: .3rem solid rgba(80, 127, 133, 0.03);
  margin: 1rem 0;
  padding: 1rem 3rem;
  border-radius: .4rem;
  background-color: rgba(211, 211, 211, 0.08);
}

.home-post-link a:visited {
  text-decoration: none;
  color: black;
}

.home-post-link a:hover {
  background-color: rgba(241, 239, 239, 0.35);
}

.post {
  font-size: 1.5rem;
  margin-top: 10rem;
  max-width: 780px;
  width: 85%;
  margin: 4rem auto 8rem;
  line-height: 1.35;
}

header { 
  min-height: 20rem;
  height: 40%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  text-align: center;

  & h1 {
    padding: 2rem 1rem;
    font-size: 10vw;
    margin: 0;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.75);
  }
}

header:after {
  width: 100%;
  height: .3rem;
  bottom: 0;
  position: absolute;
  left: 0;
  content: '';
  background: linear-gradient(to right, rgba(91,214,230,1) 0%, rgba(22,192,135,1) 28%, rgba(208,140,62,1) 83%, rgba(249,190,184,1) 100%);
  box-shadow: 0px 0px 8px grey;
}

.home-template header h1 {
  font-size: 20vw;
}

.wrapper {
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  header {
    height: 40vh;

    & h1 {
      font-size: 12vw;
    }
  }

  .home-template header h1 {
    font-size: 10rem;
  }

  code {
    font-size: 1.8rem;
  }

  .post {
    font-size: 2rem;
    line-height: 1.45;
  }

  .home-posts-links {

    & li {
      font-size: 2.5rem;
      max-width: 650px;
      text-align: center;
      margin: 0 auto;
    }

    & ul {
      padding-left: 0;
      list-style: none;
    }
  }
}

@media screen and (min-width: 900px) {
  header {
    height: 40vh;

    & h1 {
      font-size: 5vw;
    }
  }
}

.back-to-home {
  width: 80px;
  height: 80px;
  position: absolute;
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  top: 20px;
  left: 20px;
}

.back-to-home:hover {
  background-color: white;
}

.back-to-home img {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

