{{!< default}}

{{#post}}

  <header style="background-image: url({{@blog.cover}})">
    <h1>{{title}}</h1>
  </header>

  <main>
    <article class="{{post_class}}">
      {{content}}
    </article>
  </main>

{{/post}}
